.user-list-table { 
    margin-top: 30px;
    margin-bottom: 100px;
}

.user-list-table-format{ 
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1fr;
    align-items: center;
    gap: 10px;
    padding: 12px 15px;
    border: 1px solid #cacaca;
    font-size: 14px;
}

.user-list-table-format img{
    width: 50px;
}

.user-list-table-format.title{
    background-color:#b75cc9;
    font-size: 20px;
}

@media (max-width: 600px) {
    .user-list-table-format{
        grid-template-columns: 1fr 3fr 1fr;
        gap: 15px;
    }
    .user-list-table-format.title{
        display: none;
    }
    
}